/* Add screen styles below */
body {
    margin: 0;
    background-color: #fbd1a2;

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    margin-left: 48px;
    color: #1d4e89;
    font-weight: bold;
}

.container {
    margin: auto; 
    text-align: center; 
    max-width: 400px; 
}
    
.container img {
    width: 100%;
    height: auto; 
    margin: 24px 0
}
